@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");
body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, button, .sendBtn {
  font-family: 'Zen Dots', cursive;
}

button {
  border: 1px solid;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 5px #222831;
          box-shadow: 5px 5px 5px #222831;
  cursor: pointer;
  font-size: 20px;
}

.chatBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 100vw;
  height: 100vh;
  background-color: #222831;
  background-image: url("../../style/backgrounds/cubes.png");
}

.chatWindow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 500px;
  max-width: 95vw;
  height: 500px;
  max-height: 80vh;
  background-color: #EEE;
  border-radius: 10px;
}

.chatThread {
  height: 90%;
  overflow: scroll;
}

.chatThread .message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chatThread .message .userBubble,
.chatThread .message .otherBubble {
  margin: 0 20px;
  max-width: 70%;
}

.chatThread .message .userBubble p,
.chatThread .message .otherBubble p {
  border-radius: 10px;
  padding: 10px;
  margin-top: 5px;
}

.chatThread .message .userBubble span,
.chatThread .message .otherBubble span {
  padding: 0 10px;
}

.chatThread .message .userMessage {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.chatThread .message .userMessage .userBubble {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chatThread .message .userMessage .userBubble p {
  color: white;
  background-color: #00adb5;
  text-shadow: 1px 1px 1px black;
  font-size: 1.5em;
  margin: 3px 0;
}

.chatThread .message .userMessage .userBubble .deleteMessage {
  display: none;
  font-size: 2em;
  cursor: pointer;
}

.chatThread .message .userMessage .userBubble .deleteMessage:hover {
  color: red;
}

.chatThread .message .userMessage:hover .deleteMessage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chatThread .message .otherMessage {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.chatThread .message .otherMessage .otherBubble p {
  color: white;
  background-color: #393e46;
  font-size: 1.5em;
  margin: 3px 0;
}

.inputBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 10%;
  max-height: 80vh;
  background-color: #EEE;
  border-radius: 0 0 10px 10px;
  border-top: 1px solid black;
  z-index: 1;
}

.inputBar input {
  line-height: 50px;
  width: 80%;
  border: none;
  border-radius: 0 0 0 10px;
  padding: 0 0 0 20px;
}

.inputBar input:focus {
  outline: none;
}

.inputBar .sendBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 20%;
  text-align: center;
  cursor: pointer;
  border: 1px solid black;
  border-left: none;
  height: 50px;
  color: #EEE;
  background-color: #00adb5;
  text-shadow: 2px 2px black;
  border-radius: 0 0 10px 0;
}

.onlineUsers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 150px;
  max-width: 95vw;
  height: 500px;
  max-height: 80vh;
  background-color: #EEE;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
  overflow: scroll;
}

.onlineUsers p {
  margin: 5px;
}

.onlineUsers .onlineHeader {
  color: #EEE;
  background-color: #00adb5;
  text-shadow: 2px 2px black;
  padding: 10px;
  border-radius: 10px;
}

@media screen and (max-width: 992px) {
  .chatBody {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .chatBody .onlineUsers {
    margin: 10px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 500px;
    max-width: 95vw;
    height: 150px;
    background-color: #EEE;
    border-radius: 10px;
  }
}
/*# sourceMappingURL=chat.css.map */